/* Navbar.css */
.navbar {
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.4rem;
}

.navbar .form-inline input {
  width: 350px; /* Adjust width as needed */
}

.navbar .navbar-icons {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.navbar .navbar-icons .nav-link {
  margin-left: 20px;
  color: #666;
  padding: 0 7px;
}

.navbar .navbar-icons .nav-link:hover {
  color: #000;
}
